
body{
    margin: 0;
    padding: 0;
}
header{
    background-color: darkgray;
}

h1{
    margin: 0;
    text-align: center;
    padding: 10px 0;
    font-size: 30px;
    /* line-height: 0; */
}
#inner-img{
    display: flex;
    width: 5000px;
    transition: 1s;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

img{
    width: 1000px;
    height: 600px;
    transition: 1.5s;
    display: inline-block;
}

#img{
    width: 100vw;
    height: 600px;
    overflow: hidden;
    transition: 1s;
    position: relative;
    margin: 50px 0 20px;
}

.pointbox{
    width: 100%;
    text-align: center;
    margin: 20px 0 50px;
}
.point{
    width: 10px;
    height: 10px;
    background-color: gray;
    display: inline-block;
    border-radius: 50%;
    margin: 0 15px;
}
