.nav{
    width: 200px;
    height: 100vh;
    padding: 100px 0;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba($color: #f0f0f0, $alpha: 1.0);
    .nav-box{
        list-style: none;
        padding: 0 24px;
        a{
            text-decoration: none;
            height: 40px;
            line-height: 40px;
            color: rgba($color: #202020, $alpha: 1.0);
            li{
                text-align: center;
                border-bottom: #acacac solid 1px;
                transition: 0.2s;
                &:hover{
                    background-color: rgba($color: #9aadff, $alpha: 1.0);
                }
            }
            
        }
    }
}

.content{
    padding-left: 200px;
    .inputbox{
        label{
            display: inline-block;
            width: 100px;
        }
    }
}
