doctype html
html(lang="ja")
    head
        include _html3_01_head
        link(rel="stylesheet", href="css/index.css")
        title sakura Animation
    body
        
        - for(i =0 ;i < 200 ; i++ )
            .drop
                .slide
                    .move
                        .stagger
                            .rotate
                                .size
                                    .sakura


        include _html3_01_foot