$backColor:#F2F2F2;
$mainColor:#FCCD00;
$titleColor:#3B3B3B;
$textboxColor:#FFF;
$accentColor:#7BA6EF;
$btnBack:#B7B8BA;
$fontColor:#FFF;
$textColor:#BFBFBF;
$lineColor:#DBDBDB;
$placeholderColor:#C2C2C2;
$headerColor:linear-gradient(to left,#FFF21F,#FCCD00 38%,#FFF21F);
$indexback:linear-gradient( 60deg, #FFF21F 0%,#FCCD00 65%, #FFBC3E 100%);